.title {
  text-align: center;
  background: rgb(255,120,226);
  background: linear-gradient(90deg, rgba(255,120,226,1) 11%, rgba(60,8,96,1) 56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#forma {
  display: block;
  justify-content: center;
  
}

#name {
  color: blueviolet;
  margin-left: 6px;
}

#email {
  color: blueviolet;
  margin-bottom: 2%;
}

#work {
  color: blueviolet;
  margin-left: 6px;
}

#phone {
  color: blueviolet;
}

#about {
  color: blueviolet;
}

.input1 {
  border: none;
  border-bottom: 1px solid blueviolet;
  width: 41%;
}

.input {
  border: none;
  border-bottom: 1px solid blueviolet;
}

.boton {
  background: rgb(255,120,226);
  background: linear-gradient(90deg, rgba(255,120,226,1) 11%, rgba(60,8,96,1) 56%);
  border-style: none;
  padding: 0.7rem;
  color: white;
  letter-spacing: 3px;
  font-size: 1rem;
  width: 13%;
}



