.title{
   text-align: center;
   background: rgb(255,137,120);
   background: linear-gradient(90deg, rgba(255,137,120,1) 26%, rgba(255,120,226,1) 56%, rgba(178,69,252,1) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.box-1{
  display: flex;
  justify-content: center;
}

#forma{
  display: flex;
}

#name{
  margin-right: 20rem;
  margin-bottom: 10%;
  color: blueviolet;
}

#email{
  color: blueviolet;
}

#work{
  margin-right: 20rem;
  color: blueviolet;
}

#phone{
  margin-bottom: 10%;
  color: blueviolet;
}

#about{
  margin-top: 5%;
  color: blueviolet;
}


.p{
  margin-top: 0%;
  margin-bottom: 5%;
}

.input, .input1{
  border: none;
  border-bottom: 1px solid blueviolet;
  width: 80%;
}
